<div class="chat_login">
    <div class="top_menu">
        <div class="buttons">
        </div>
        <div class="title">芝麻开门</div>
    </div>
    <div class="login_wrapper clearfix">
        <div class="message_input_wrapper">
            <input type="password" class="message_input" maxlength="16" placeholder="">
        </div>
        <div class="open_door">
            <div class="icon"></div>
            <div class="text">开</div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(".open_door").click(function (e) {
            var password = $(".message_input").val();
            $.ajax({
                url: '/Home/DoLogin',
                method: 'POST',
                data: { username: password },
                success: function (d) {
                    if (d.Status == 1) {
                        window.location = "/Home/Index";
                    } else {
                        $(".title").html("输入的密码不正确！");
                        setTimeout(function () {
                            $(".title").html("密码认证");
                        },2000);
                    }
                },
                complete: function () {
                    $(".message_input").val("").focus();
                }
            });
        });
    </script>
}